@import "../../styles/mixins"

.wrapper
  display: flex
  flex-direction: column
  justify-content: center
  .items_wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  h1
    color: $c-blue
    font-size: 60px
    margin-left: 10vh